
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
}
.container {
	max-width: 900px;
	position: relative;
}

#donate-button {
	position: absolute;
	right: 0;
	top: 1.5em;
}
